input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  background: rgb(20, 18, 26);
  background-size: cover;
}
.main {
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -167px;
}

input,
button {
  border-radius: 7px;
  border: none;
  padding: 8px 12px;
  border: none;
  border-left: 1px solid #4caf50;
  border-bottom: 1px solid #4caf50;
  color: white;
  background: none;
  font-size: 18px;
  outline: none;
  width: 300px;
}

button {
  cursor: pointer;
  background: none;
  border: 2px solid #4caf50;
  border-radius: 6px;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
}
.input-button {
  display: inline-block;
  padding: 8px 12px;

  cursor: pointer;
  border-radius: 5px;
  background-color: #4caf50;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

#cmd:hover {
  background-color: #4caf50;
}

#screenshot {
  visibility: hidden;
  color: #b8b8b8;
}

.loader {
  visibility: hidden;
  position: absolute;top: 50%; left: 50%;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
